<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wofu.fenxiao.mapping.EcoSellerConfigMapper">
	<resultMap type="EcoSellerConfig" id="ecoSellerConfig">
		<id column="sellernick" property="sellernick" />
		<result column="lastordertime" property="lastordertime" />
		<result column="lastrefundtime" property="lastrefundtime" />
		<result column="lastitemtime" property="lastitemtime" />
		<result column="lastfxordertime" property="lastfxordertime" />
		<result column="lastfxrefundtime" property="lastfxrefundtime" />
		<result column="lasttmreturntime" property="lasttmreturntime" />
		<result column="lasttmrefundtime" property="lasttmrefundtime" />
		<result column="lastjxordertime" property="lastjxordertime" />
	</resultMap>
	
	<!-- 查询的字段 -->
	<sql id="selectId">
		sellernick,
		lastordertime,
		lastrefundtime,
		lastitemtime,
		lastfxordertime,
		lastfxrefundtime,
		lasttmreturntime,
		lasttmrefundtime,
		lastjxordertime
	</sql>	


	<!-- 增加客户下载参数 -->
	<insert id="add" parameterType="com.wofu.fenxiao.domain.EcoSellerConfig">
		insert into eco_seller_config (
		sellernick,
		lastordertime,
		lastrefundtime,
		lastitemtime,
		lastfxordertime,
		lastfxrefundtime,
		lasttmreturntime,
		lasttmrefundtime,		
		lastjxordertime
		)
		values (#{sellernick},
		#{lastordertime},
		#{lastrefundtime},
		#{lastitemtime},
		#{lastfxordertime},
		#{lastfxrefundtime},
		#{lasttmreturntime},
		#{lasttmrefundtime},
		#{lastjxordertime}
		)
	</insert>


	<!-- 查询客户下载参数 -->
	<select id="qryTimeList" parameterType="String" resultType="com.wofu.fenxiao.domain.EcoSellerConfig">
		select
		<include refid="selectId" />
		from eco_seller_config where sellernick=#{sellernick}
	</select>
	

	<!-- 修改客户下载参数-->
	<update id="update" parameterType="com.wofu.fenxiao.domain.EcoSellerConfig">
		update eco_seller_config
		<set>
			<if test="lastordertime != null and lastordertime != ''">
				lastordertime=#{lastordertime},
			</if>
			<if test="lastrefundtime != null and lastrefundtime != ''">
				lastrefundtime=#{lastrefundtime},
			</if>
			<if test="lastitemtime != null and lastitemtime != ''">
				lastitemtime=#{lastitemtime},
			</if>
		</set>
		where sellernick=#{sellernick}
	</update>
</mapper>