<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wofu.fenxiao.mapping.ChannelMapper">
		<!-- channel映射 -->
	<resultMap type="Channel" id="channel">
	<id column="ID" property="id"/>
	<result column="Name" property="name"/>
	<result column="Code" property="code"/>
	<result column="Status" property="status"/>
	<result column="url" property="url"/>
	<result column="Note" property="note"/>
	<result column="AppUrl" property="appurl"/>
	</resultMap>
	
	<sql id="sel">
	id,
	name,
	code,
	status,
	url,
	note,
	appurl
	</sql>

	<!-- 获取指定channel的code -->     
	<select id="getChannelById" parameterType="java.lang.Integer" resultType="Channel">
	select <include refid="sel"/>
	from channel where id=#{channelid}
	</select>

			
	
		
</mapper>