<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wofu.fenxiao.mapping.EcsTimerpolicyMapper">

	<resultMap type="EcsTimerpolicy" id="timerpolicy">
		<id column="id" property="id" />
		<result column="active" property="active" />
		<result column="clock" property="clock" />
		<result column="clocktype" property="clocktype" />
		<result column="lastActive" property="lastActive" />
		<result column="nextActive" property="nextActive" />
		<result column="executer" property="executer" />
		<result column="params" property="params" />
		<result column="notes" property="notes" />
		<result column="activeTimes" property="activeTimes" />
		<result column="ErrorCount" property="ErrorCount" />
		<result column="ErrorMessage" property="ErrorMessage" />
		<result column="MaxRetry" property="MaxRetry" />
		<result column="Skip" property="Skip" />
		<result column="dsid" property="dsid" />
		<result column="flag" property="flag" />
		<result column="groupname" property="groupname" />
	</resultMap>


	
	
	<!-- 查询的字段 -->
	<sql id="selectId">
		id,
		active,
		clock,
		clocktype,
		lastActive,
		nextActive,
		executer,
		params,
		notes,
		activeTimes,
		ErrorCount,
		ErrorMessage,
		MaxRetry,
		Skip,
		dsid,
		flag,
		groupname
	</sql>	


	<!-- 增加定时执行任务 -->
	<insert id="add" parameterType="com.wofu.fenxiao.domain.EcsTimerpolicy">
		insert into ecs_timerpolicy(
		id,
		active,
		clock,
		clocktype,
		lastActive,
		nextActive,
		executer,
		params,		
		notes,
		activeTimes,
		ErrorCount,
		ErrorMessage,
		MaxRetry,
		Skip,
		dsid,
		flag,
		groupname
		)
		values (#{id},
		#{active}, #{clock},
		#{clocktype},
		#{lastActive},
		#{nextActive},
		#{executer},
		#{params},
		#{notes},
		#{activeTimes},
		#{ErrorCount},
		#{ErrorMessage},
		#{MaxRetry},
		#{Skip},
		#{dsid},
		#{flag},
		#{groupname}
		)
	</insert>

	<!-- 删除定时任务-->
	<delete id="delete" parameterType="int">
		delete from ecs_timerpolicy where
		id=#{id}
	</delete>
	
	<select id="qryByNick" parameterType="String" resultType="com.wofu.fenxiao.domain.EcsTimerpolicy">
		select
		<include refid="selectId" />
		from ecs_timerpolicy where executer=#{executer} and params like '%${nick}%'
	</select>
	
	<!-- 查询定时任务最大id记录 -->
	<select resultType="int" id="qryMaxRecord">
	select max(id) from ecs_timerpolicy
	</select>
	
	<!-- 查询某个任务是否存在 -->
	<select id="qryByParams" resultType="int">
	select count(*) from ecs_timerpolicy where executer=#{executer} and params like '%${params}%'
	</select>
	

</mapper>