<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wofu.fenxiao.mapping.MenuMapper">

	<!--mybatis ehcache缓存配置 -->

	<resultMap type="menu" id="menuMap">
		<id column="ID" property="id" />
		<result column="SubSystemID" property="subSystemID" />
		<result column="ModuleID" property="moduleID" />
		<result column="Caption" property="caption" />
		<result column="Hint" property="hint" />
		<result column="Url" property="url" />
		<result column="OrderNo" property="orderNo" />
		<result column="GroupNo" property="groupNo" />
		<result column="MasterMenuID" property="masterMenuID" />
		<result column="status" property="Status" />
		<result column="note" property="Note" />
	</resultMap>

	<resultMap type="java.util.HashMap" id="loginmenuMap">
		<result column="ID" property="ID" />
		<result column="Caption" property="Caption" />
		<result column="Hint" property="Hint" />
		<result column="MasterMenuID" property="MasterMenuID" />
		<result column="Url" property="Url" />
		<result column="OrderNo" property="OrderNo" />
		<result column="ModuleID" property="ModuleID" />
		<result column="mCaption" property="mCaption" />
	</resultMap>


	<resultMap type="java.util.HashMap" id="loginmenuMap2">
		<result column="ID" property="ID" />
		<result column="Caption" property="Caption" />
		<result column="Hint" property="Hint" />
		<result column="MasterMenuID" property="MasterMenuID" />
		<result column="RightValues" property="RightValues" />
		<result column="Url" property="Url" />
		<result column="OrderNo" property="OrderNo" />
	</resultMap>


	<!-- 查询的字段 -->
	<sql id="selectId">
		ID,
		SubSystemID,
		ModuleID,
		Caption,
		Hint,
		Url,
		OrderNo,
		GroupNo,
		MasterMenuID,
		Status,
		Note
	</sql>

	<!--resultType="menu" -->
	<select id="queryMenu" resultMap="menuMap" parameterType="Part">
		select
		<include refid="selectId" />
		from Menu
		<where>
			<if test="caption != null and caption != ''">
				Caption like '%${caption}%'
			</if>
			<if test="subSystemID != null and subSystemID != ''">
				SubSystemID = %${subSystemID}%
			</if>
		</where>
	</select>

	
	<!-- 增加用户权限 传入一个map，包含loginId和partId ，${t.loginId} 这样定义对不对？   不用的，直接用map的key  {key} -->
	<insert id="add" parameterType="Menu">
		insert into part(
		ID,
		SubSystemID,
		ModuleID,
		Caption,
		Hint,
		Url,
		OrderNo,
		GroupNo,
		MasterMenuID,
		Status,
		Note
		) values(
		#{id},
		#{subSystemID},
		#{moduleID},
		#{caption},
		#{hint},
		#{url},
		#{orderNo},
		#{groupNo},
		#{masterMenuID},
		#{status},
		#{note}
		)
	</insert>

	<!-- 根据帐号查帐号对应有菜单     -->
	<select id="queryLoginMenu" parameterType="java.util.HashMap" resultMap="loginmenuMap">
		select ID, '' Caption,'' Hint, MasterMenuID, Url, OrderNo , Caption mCaption , ModuleID , ModuleID MModuleID
		from Menu where MasterMenuID=0 and Status=1 and isnull(Url,'')!=''
		union
		select distinct a.ID,a.Caption,a.Hint,a.MasterMenuID,a.Url,a.OrderNo , m.Caption  mCaption,a.ModuleID , m.ModuleID MModuleID
		from Menu a , PartMember b , PartRight c ,Menu m
				where a.ModuleID = c.ModuleID 
				  and b.PartID = c.PartID
		and a.MasterMenuID = m.ID and isnull(a.Url,'')!='' and a.Status=1
		and b.LoginID =#{loginId}  
		order by  a.OrderNo
	
	</select>

	
	<!-- 根据帐号查帐号对应有菜单     -->
	<select id="queryLoginMenu2" parameterType="java.util.HashMap" resultMap="loginmenuMap2">
		select ID,Caption,Hint,MasterMenuID,RightValues,Url,OrderNo
		from Menu a , PartMember b , PartRight c
		where a.ModuleID = c.ModuleID 
		  and b.PartID = c.PartID
		  and b.LoginID = #{loginId} 
		union
		select ID,Caption,Hint,MasterMenuID,0,Url ,OrderNo
		from Menu where ID in (
				select MasterMenuID
				from Menu a , PartMember b , PartRight c
				where a.ModuleID = c.ModuleID 
				  and b.PartID = c.PartID
		and b.LoginID=#{loginId} )
		union select ID,Caption,Hint,MasterMenuID,0,Url ,OrderNo
			from Menu where ModuleID =0 and Url != ''
		order by OrderNo  
	</select>
	
</mapper>