/* 
    Document   : privilege
    Created on : 2015-4-22, 1:24:16
    Author     : lzy
    Description:
        Purpose of the stylesheet follows.
*/
.this_main{
	width: 100%;
	height: auto;
	margin-bottom: 20px;
}
.active_menu_arrow_priv { 
    left:107px;
}
.tab_row{
	width:100%;
	height: 37px;
}
.tab_off{
	float: left;
	width: 20px;
	height: 36px;
	border-bottom: 1px solid rgb(190,190,190);
}
.tab{
	float: left;
	width: 120px;
	height: 35px;
	line-height: 35px;
	border: 1px solid rgb(190,190,190);
	border-top: 2px solid orange;
	border-bottom: none;
	color: black;
	font-size: 14px;
	font-weight: 800;
	text-align: center;
}
.tab_line{
	margin-left:142px;
	height: 36px;
	border-bottom: 1px solid rgb(190,190,190);
}
.align_center_row{
	width: 100%;
	text-align: center;
}
.role_panel{
	margin-left:auto;
	margin-right: auto;
	width: 775px;
	height: 350px;
}
.role_panel_title{
	margin-left:auto;
	margin-right: auto;
	width: 775px;
	height: 30px;	
}
.role_title{
	float: left;
	width: 312px;
	height: 100%;
	line-height: 30px;
	text-align: left;
}
.list_container{
	float: left;
	width: 300px;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	border: 1px solid #dddddd;
	background: rgb(250,250,250);
	padding: 5px;
}
.button_panel{
	float: left;
	width: 90px;
	height: 100%;
	margin-left: 30px;
	margin-right: 30px;
}
.v_off{
	width:100%;
	height:80px;
}
.text{
	margin-top:5px;
	width:98%;
	height:22px;
	/*border-radius: 3px;*/
	border: none;
}
.remove_float{
	float:none;
}
.remove_left_margin{
	margin-left: 0px;
}
.float_right{
	float: right;
}
.tr_high_light{
	background: rgb(235,235,255);
}